{% extends "base.html" %} {% block content %}
<h1 class="text-3xl font-extrabold mb-6 px-4 md:px-16">
  Program Implementation
</h1>
<div class="mb-5 px-4 md:px-16">
  <h2 class="text-2xl font-extrabold mb-4">Digital Image Processing (DIP)</h2>
  <div class="md:mx-10 flex flex-col gap-3 text-sm md:text-base">
    <pre><code class="python rounded-lg">import cv2
from google.colab.patches import cv2_imshow

image = cv2.imread('/content/grayscale-1.png')

gray_image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

cv2_imshow(gray_image)
cv2.waitKey(0)</code></pre>
    <pre><code class="python rounded-lg">print(gray_image)</code></pre>
  </div>
</div>
<div class="mb-5 px-4 md:px-16">
  <h2 class="text-2xl font-extrabold mb-4">Tic-tac-toe</h2>
  <div class="md:mx-10 flex flex-col gap-3 text-sm md:text-base">
    <pre><code class="python rounded-lg">board = [[" ", " ", " "],
        [" ", " ", " "],
        [" ", " ", " "]]
count = 1
    
while count < 10:
  if count % 2 == 0: 
    player = "X"
  elif count % 2 == 1:
    player = "O"
  
  print("Player " + player + " , it is your turn.")
    
  while (True):
    row = int(input(" Pick a row: "))
    column = int(input("Pick a column: ")) 
    if (row in [0, 1, 2]) and (column in [0, 1,2]) and (board[row][column] not in ["X", "O" ]): 
      break 
    print("Invalid choice. Please try again!")
  
  board[row][column] = player 
  
  print("---+---+---")
  for r in range(3):
    print(board[r][0], " |" , board[r][1], "|" ,board[r][2])
    print("---+---+---")

  count += 1</code></pre>
  </div>
</div>
{% endblock content %}
